/* Import Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS Styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

/* Utility Layer: Add your own custom Tailwind utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.audio-controls {
  position: fixed;
  top: 1px;
  right: 915px;
  z-index: 0;
}

.play-pause-button {
  background-color: #6b4d9f;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.play-pause-button:hover {
  background-color: #8a65c5;
}

.play-pause-button:focus {
  outline: none;
}